@model EventPorter.Models.User
@{
    Layout = null;
}

<div class="container">
    <div class="row">
        <h2 class="page-header">Your Information</h2>
        <div class="col-md-6">
            <h3 class="panel-heading">On public display</h3>
            <p class="text-left">@Html.LabelFor(u => u.Username) @Model.Username</p>
            <p class="text-left">@Html.LabelFor(u => u.Email) @Model.Email</p>
        </div>
        <div class="col-md-6">
            <h3 class="panel-heading">Just for you</h3>
            <p class="text-left">@Html.LabelFor(u => u.Firstname) @Model.Firstname</p>
            <p class="text-left">@Html.LabelFor(u => u.Lastname) @Model.Lastname</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h2 class="page-header">Your Stats</h2>
        <div class="col-md-12">
            <h3 class="panel-heading">Event stats</h3>
            <p class="text-left">Number of Events created: </p>
            <p class="text-left">Number of Events attending: </p>
        </div>
        <div class="col-md-6">
            <h3 class="panel-heading">Just for you</h3>
            <p class="text-left">@Html.LabelFor(u => u.Firstname) @Model.Firstname</p>
            <p class="text-left">@Html.LabelFor(u => u.Lastname) @Model.Lastname</p>
        </div>
    </div>
</div>

