@model EventPorter.Models.Adam
    @{ 
        ViewBag.Title = "Login";
    }
<h2>Login</h2>
@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    @Html.ValidationSummary(false, "", new { @class="error" })
    <p>
        @Html.LabelFor(a=>a.Username)
        @Html.TextBoxFor(a=>a.Username)
    </p>
    <p>
        @Html.LabelFor(a => a.Password)
        @Html.TextBoxFor(a => a.Password)
    </p>
    <p>
        <input id="Submit1" type="submit" value="Submit"/>
        <input id="Reset1" type="reset" value="Clear" />
    </p>

}


