<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title> 
    
    @*cdn*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    @*local*@
    @*<link rel="stylesheet" href="~/Content/bootstrap.min.css" type="text/css" />*@

    <link href="~/Content/styles/Site.css" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    
    <link rel="icon" href="@Url.Content("~/Content/favicon.ico")" />
    
    <script src="https://cdn.auth0.com/js/auth0/8.8/auth0.min.js"></script>
    <script type="text/javascript">
        var webAuth = new auth0.WebAuth({
            domain: 'eventporter.eu.auth0.com',
            clientID: 'Q6A3rZv6dswfPNBAaib5P3fQ6PCy3869',
            redirectUri: 'http://localhost:59769/LoginCallback.ashx',
            audience: 'https://eventporter.eu.auth0.com/userinfo',
            responseType: 'code',
            scope: 'openid profile'
        });
    </script>
</head>
<body>
    <div id="bootstrapCssTest" class="hidden"></div>
    <div id="site-navbar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @*PLACEHOLDER: REMOVE THIS BADASS ADAM AT SOME POINT*@
                @*<img src="~/Content/images/lil_porter.png" alt="big P" class="navbar-brand" />*@
                <img id="navbar_logo" src="~/Content/logo.png" alt="Event Porter Logo" class="navbar-brand" />
                @*-------------------------------*@

                @Html.ActionLink("EVENT PORTER", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Something 1", "Index", "Home", new { area = "" })</li>
                        <li>@Html.ActionLink("Something 2", "Index", "Home", new { area = "" })</li>
                        <li>@Html.ActionLink("Something 3", "Index", "Home", new { area = "" })</li>
                    </ul>*@
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink(" Create", "Create", "Event", null, new { @class = "glyphicon glyphicon-plus-sign" })</li>
                    @*renders the login/register/logout partial view*@ 
                    @RenderPage("RegisterLogin.cshtml")
                </ul>
            </div>
        </div> 
    </div>

    @*<div id="renderbody_wrapper" class="container-fluid body-content">*@
    <div id="renderbody_wrapper">
        @RenderBody()
        @*<div class="navbar navbar-fixed-bottom text-center">*@
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <div class="col-xs-12">
                <row>
                    <div class="col-xs-4">
                        <span><a href="/">&copy;@DateTime.Now.Year EventPorter</a></span>
                    </div>
                    <div class="col-xs-4">
                        @Html.ActionLink("Terms and Conditions", "Index","TermsAndConditions", null, new { target = "_blank" })
                    </div>
                    <div class="col-xs-4">
                       @Html.ActionLink("Privacy Policy", "Index", "PrivacyPolicy", null, new { target="_blank"})
                    </div>
                </row>
            </div>
        </div>
    </footer>   
    <!-- jQuery remote CDN -->
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <!-- jQuery local fallback -->
    @*<script>window.jQuery || document.write('<script src="~/Scripts/jquery-3.2.1.min.js"><\/script>');</script>*@

    <!-- Bootstrap JS remote CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Bootstrap JS local fallback -->
    @*<script>if (typeof ($.fn.modal) === 'undefined') { document.write('<script src="~/Scripts/bootstrap.min.js"><\/script>'); }</script>*@   
    
    <!-- Bootstrap CSS local fallback -->
    @*<script type="text/javascript">
        if ($('#bootstrapCssTest').is(':visible') === true) {
            $('<link rel="stylesheet" href="~/Content/bootstrap.min.css" type="text/css" />').appendTo('head');
        }
    </script>*@
    @RenderSection("Scripts", false)
</body>
</html>