@if (Session["name"] != null)
{
    <li>@Html.ActionLink(" Logout", "LogOut", "Account", null, new { @class = "glyphicon glyphicon-log-out" })</li>
    <li>@Html.ActionLink(" " + @Session["name"].ToString().ToUpper(), "AdamProfile", "Account", null, new { @class = "glyphicon glyphicon-user" })</li>
}
else
{  
    <li>@Html.ActionLink(" Register", "Index", "Account", "", new { @class = "glyphicon glyphicon-user" })</li>
    <li>@Html.ActionLink(" Login", "Login", "Account", "", new { @class = "glyphicon glyphicon-log-in" })</li>
}