@model EventPorter.Models.Event
@{
    ViewBag.Title = "Event";
}

@section Styles {
    <link href="@Url.Content("~/Content/styles/Event.css")" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Oswald|Shadows+Into+Light" rel="stylesheet">
}

@section Scripts {
    <script type="text/javascript">
        $('document').ready(function () {
            //$('#free-button').click(function () {
            //});

            $('#cart-button').click(function () {

            });

            $('#edit-button').click(function () {

            });

            $('#delete-button').click(function () {

            });
        });
    </script>
}

@*
    If the event has any gallery images, they'll be displayed in a bootstrap carousel 
    at the top, above the header/title.

    START OF IMAGE CAROUSEL
*@
@if (Model.Gallery != null && Model.Gallery.Count > 0)
{
    <div class="container-fluid remove-padding-left-right gallery-shadow">
        <div id="event_gallery" class="carousel slide" data-ride="carousel">

            @*
                display the images
            *@
            <div class="carousel-inner">

                @*
                    initial "active" image - gallery is not null, and not empty, therefore contains at least 1
                *@
                <div class="item active">
                    <img src=@Url.Content(Model.Gallery[0].FilePath) alt="Event Gallery Image" >
                </div>

                @*
                    if more than 1 image, add them
                *@
                @for (int i = 1; i < Model.Gallery.Count; i++)
                {
                    <div class="item">
                        <img src=@Url.Content(Model.Gallery[i].FilePath) alt="Event Gallery Image">
                    </div>
                }
            </div>

            @*
                Left and Right arrows - only shown/activated if more than 1 image
            *@
            @if (Model.Gallery.Count > 1)
            {
                <a class="left carousel-control" href="#event_gallery" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#event_gallery" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            }
        </div>
    </div>
}
@*
    END OF IMAGE CAROUSEL
*@

@*
    START JUMBOTRON ( TITLE / HEADER )
*@
<div class="container">
    <div id="event-title" class="jumbotron">
        <h1>@Model.Title</h1>
    </div>
</div>
@*
    END TITLE / HEADER
*@
<hr />

@*
    START EVENT DETAILS / CONTENT
*@
<div id="event-content" class="container">
    <div class="row col-lg-12">
        @*
            START CREATOR (left)
        *@
        <div class="col-lg-2">
            <div id="event_left_col">
                <div id="event-owner" class="row col-xs-12">
                    <div class="row text-center">
                        <p class="text-primary">Organiser</p>
                    </div>
                    <div class="row text-center">
                        @*
                            if a thumbnail wasn't passed to view, use default user thumbnail
                        *@
                        @if (ViewBag.CreatorThumbnailPath != null)
                        {
                            <img id="creator_thumb" class="img-thumbnail" src=@Url.Content(ViewBag.CreatorThumbnailPath) alt="event creator profile picture." />
                        }
                        else
                        {
                            <img id="creator_thumb" class="img-thumbnail" src="~/Content/images/male_porter.jpg" alt="icon_image" />
                        }
                    </div>
                    @*
                        creator username
                    *@
                    <h5 class="text-center">
                        @Model.CreatorUserName
                    </h5>
                </div>
            </div>
        </div>
        @*
            END CREATOR
        *@

        @*
            event description block (center)
        *@
        <div class="col-lg-8">
            <div class="details_block">
                <div class="row">
                    <h2 class="text-center">Information</h2>
                    <div id="description" class="col-md-12">
                        <p>
                            @Model.Description
                        </p>
                    </div>
                </div>
            </div>
        </div>
        @*
            EVENT INFORMATION AND BUTTONS (right)
        *@
        <div class="col-lg-2">
            <div class="row rightside-info">
                @*
                    inititialise google maps url for later use
                *@
                @{ 
                    string coOrds = Model.Latitude + "," + Model.Longitude;
                    string mapURL = "https://maps.googleapis.com/maps/api/staticmap?center=" + 
                        coOrds + 
                        "&zoom=14&markers=color:blue|"+ coOrds + "&size=400x400&key=AIzaSyCwiT70R1-6azas3x7pa5rNcUmzlWWxjR8";
                }
  
                @*
                    MAP START
                *@
                <p>Location </p>
                <a href="@mapURL" target="_blank"><p>@Model.LocationDesc</p>
                    <p>
                        <img src="@mapURL" style="width:150px;height:150px;" alt="map of location" />
                    </p>
                </a>
                @*
                    MAP END
                *@

                @*
                    DATETIME START
                *@
                <p>Starting: </p>
                <p class="text-info">@Model.StartDateAndTime.ToShortDateString()  @Model.StartDateAndTime.ToShortTimeString()</p>
                <p>Ending:</p>
                <p class="text-info"> @Model.EndDateAndTime.ToShortDateString()  @Model.EndDateAndTime.ToShortTimeString()</p>
                <p></p>
                @*
                    DATETIME END
                *@

                @*
                    PRICE START
                *@
                @{ 
                    string price = "Free!";
                    bool userLoggedIn = Session["name"] != null;
                }
                @if (Model.Price != 0)
                {
                    price = "&euro; " + Model.Price.ToString();
                }
                <p>Ticket Price:</p>
                <p class="text-info"> @Html.Raw(price)</p>
                @*
                    PRICE END
                *@  

                @*
                    BUTTON START
                *@
                @if(Session["name"] == null){
                    @Html.ActionLink("Login", "Login", "Account", null,
                                    new { @id = "login-button", @class = "btn btn-primary text-center" }
                                );
                }
                else if (userLoggedIn && Model.CreatorUserName == Session["name"].ToString())
                {
                    <div id="edit-button" class="btn btn-primary text-center">Edit Event</div>
                    <div id="delete-button" class="btn btn-danger text-center">Delete Event</div>
                }
                else if (ViewBag.Attending != null && (bool)ViewBag.Attending)
                {
                    <div id="attending-button" class="btn btn-primary text-center disabled">Already Attending</div>
                }
                else if (Model.Price == 0)
                {
                    if (ViewBag.TicketFailed != null)
                    {
                        <p>ViewBag.TicketFailed</p>
                    }
                    @Html.ActionLink("Get Ticket", "AddEventAttendee", "Event", new
                        {
                           attendeeID = int.Parse(Session["id"].ToString()),
                           eventID = Model.ID
                        },
                        new { @id = "free-button", @class = "btn btn-primary text-center" }
                    );
                    @*<div id="free-button" class="btn btn-primary text-center">Get Ticket</div>*@
                }else{
                    @Html.ActionLink("Add To Cart", "AddToCart", "Cart", new
                        {
                           eventID = Model.ID
                        },
                        new { @id = "free-button", @class = "btn btn-primary text-center" }
                    );
                    @*<div id="cart-button" class="btn btn-primary text-center">Add To Cart</div>*@
                }
                @*
                    BUTTON END
                *@
            </div>
        </div>
    </div>
</div>
@*
    END OF EVENT DETAILS / CONTENT
*@


