@model IEnumerable<EventPorter.Models.Event>

@{
    ViewBag.Title = "EventCardDisplayFullView";
}

@section Styles{
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" />
    <link href="~/Content/styles/EventCardDisplay.css" rel="stylesheet" type="text/css" />
}


<div class="card-contain">
    @*<div class="container">
            <div class="row">
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="card front card-inverse" style="width: 20rem;">
                            <img class="card-img-top img-responsive" src="~/Content/images/test_img3.jpg" alt="Card image cap">
                            <div class="card-img-overlay">
                                <h4 class="card-title text-center">@Model.Title</h4>

                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last update 3 mins ago</small>
                            </div>
                        </div>
                        <div class="card back" style="width: 20rem;">
                            <div class="card-block">
                                <h4 class="card-title">@Model.CreatorUserName</h4>
                                <p class="card-text description">@Model.Description</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <div class="container">
        <div class="row card-display-container">
            @foreach (var e in Model)
            {

                <div class="flip-container col-md-3" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="card front card-inverse" style="width: 20rem;">
                            <img class="card-img-top img-responsive" src="~/Content/images/test_img2.jpg" alt="Card image cap">
                            <div class="card-img-overlay">
                                <h4 class="card-title text-center">@e.Title</h4>

                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last update 3 mins ago</small>
                            </div>
                        </div>
                        <div class="card back" style="width: 20rem;">
                            <div class="card-block">
                                <h4 class="card-title">@e.CreatorUserName</h4>
                                <p class="card-text description">@e.Description</p>
                                @Html.ActionLink("More...", "Browse", "Event", new { @e.ID }, new { @class="btn"})
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>





