@model IEnumerable<EventPorter.Models.Event>


@section Styles{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" />
    <link href="~/Content/styles/EventCardDisplay.css" rel="stylesheet" type="text/css" />
}




<div class="card-contain">
    <div class="container-fluid">
        <h3 class="panel-title">User Events</h3>
        <div class="row">
            @foreach (var e in Model)
            {

                <div class="flip-container col-md-3" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="card front card-inverse" style="width: 20rem;">
                            @if (e.Gallery != null && e.Gallery.Count != 0)
                            {
                                <img class="card-img-top img-responsive" src=@Url.Content(e.Gallery.ElementAt(e.Gallery.Count - 1).FilePath) alt="Card image cap">
                            }
                            else
                            {
                                <img class="card-img-top img-responsive" src="~/Content/images/test_img2.jpg" alt="Card image cap">
                            }
                            <div class="card-img-overlay">
                                <h4 class="card-title text-center">@e.Title</h4>

                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last update 18 mins ago</small>
                            </div>
                        </div>
                        <div class="card back" style="width: 20rem;">
                            <div class="card-block">
                                <h4 class="card-title">@e.CreatorUserName</h4>
                                <p class="card-text description">@e.Description</p>
                                @Html.ActionLink("More...", "Browse", "Event", new { @e.ID }, new { @class = "btn" })
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 18 mins ago</small>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
